.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 23px;
  background-color: #f4f4f4;
  color: #05436f;

}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;

}

.dashboard-card-content {
  text-align: center;
  background-color: #f4f4f4;
  color: #05436f;
  

}
.filtro {
  text-align: right;
  padding: 15px 32px;

}


